<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RentyCar</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navar -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container">
        <a class="navbar-brand text-light" href="/">RentyCar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item pe-3">
              <a
                class="nav-link active text-light"
                aria-current="page"
                href="/cars"
                >Cars</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" href="/brands">Brands</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End of Navbar -->

    <div class="container mt-3">
      <div class="row d-flex justify-content-center">
        <div class="col-4">
          <h2>Add Renty Cars</h2>
          <hr />

          <form action="/cars/add" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="brand_id" class="form-label">Brand</label>
              <select
                class="form-select"
                id="brand_id"
                name="brand_id"
                required
              >
                {{range .brands}}
                <option value="{{.Id}}">{{.Name}}</option>
                {{end}}
              </select>
            </div>
            <div class="mb-3">
              <label for="tipe" class="form-label">Type</label>
              <input
                type="text"
                class="form-control"
                id="tipe"
                name="tipe"
                required
              />
            </div>
            <div class="mb-3">
              <label for="license_plate" class="form-label"
                >License Plate</label
              >
              <input
                type="text"
                class="form-control"
                id="license_plate"
                name="license_plate"
                required
              />
            </div>
            <div class="mb-3">
              <label for="color" class="form-label">Color</label>
              <input
                type="text"
                class="form-control"
                id="color"
                name="color"
                required
              />
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                name="price"
                required
              />
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Image</label>
              <input
                type="file"
                class="form-control"
                id="image"
                name="image"
                required
              />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea
                class="form-control"
                id="description"
                name="description"
              ></textarea>
            </div>
            <a href="/cars" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-primary">Add Car</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="bg-dark text-light py-3 mt-5">
      <div class="container text-center">
        <p>&copy; 2024 Renty Cars. All rights reserved.</p>
        <p>
          <a href="#" class="text-light">Privacy Policy</a> |
          <a href="#" class="text-light">Terms of Service</a>
        </p>
      </div>
    </footer>
  </body>
</html>
