<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RentyCar</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      .content {
        flex: 1;
      }

      footer {
        background-color: #343a40;
        color: white;
        padding: 10px 0;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
          <a class="navbar-brand text-light" href="/">RentyCar</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item pe-3">
                <a
                  class="nav-link active text-light"
                  aria-current="page"
                  href="/cars"
                  >Cars</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" href="/brands">Brands</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End of Navbar -->

      <!-- Content -->
      <div class="container mt-3 content">
        <h2>List Brands Car</h2>
        <hr />
        <a href="/brands/add" class="btn btn-primary">Add New Brands</a>
        <table class="table table-bordered mt-2 text-center">
          <thead>
            <tr>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {{range .brands}}
            <tr>
              <td>{{.Name}}</td>
              <td>
                <!-- Perubahan URL untuk Edit -->
                <a
                  href="/brands/edit/{{.Id}}"
                  class="btn btn-sm btn-warning text-light"
                  >Edit</a
                >
                <!-- Perubahan URL untuk Delete -->
                <form
                  action="/brands/delete/{{.Id}}"
                  method="POST"
                  style="display: inline"
                  onsubmit="return confirm('Are you sure want to delete this category?')"
                >
                  <button type="submit" class="btn btn-sm btn-danger">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
      <!-- End of Content -->

      <!-- Footer -->
      <footer class="text-center">
        <div class="container">
          <p>&copy; 2024 RentyCar. All rights reserved.</p>
          <p>
            <a href="#" class="text-light">Privacy Policy</a> | 
            <a href="#" class="text-light">Terms of Service</a>
          </p>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
  </body>
</html>
